.lightDark {
  color: white;
}

.lightMob {
  color: white;
  width: 25px;
  height: 25px;
  bottom: 30px;
  z-index: 1000;
  position: fixed;
  right: 20px;
}

@media only screen and (max-width: 768px) {
  .lightDark {
    width: 35px;
  }
}
